<div class="card mt-5">
  <div class="card-body p-0">
    <div class="page-header m-0">
      <div class="header-content d-flex justify-content-center align-items-center">
        <span class="text-center">Сколько стоит свадьба?</span>
      </div>
      <img src="/assets/img/article.png">
    </div>
  </div>
  <div class="card-body">
    <h3>
      Калькулятор бюджета свадьбы
    </h3>

    <p>
      Поздравляем, вы решили пожениться! Но как же посчитать бюджет, который предстоит потратить? Какие расходы в праздновании
      – первоочередные? А на чем можно сэкономить?
    </p>
    <p>
      Чтобы все правильно подсчитать и ничего не забыть, мы предлагаем тебе удобный калькулятор расчета бюджета свадьбы. Благодаря
      ему, ты сможешь четко понять на что будут идти ваши средства. Ведь удобно же – когда все находиться в одном сервисе
      прямо перед глазами. Чтобы посчитать расходы на свадьбу, тебе необходимо просто внести данные в нужные поля на экране.
      Дальше наш механизм все сделает сам. Ура, бюджет торжества готов! Также сервис предоставляет возможность отправить
      подсчеты сразу тебе на почту, сохранить на компьютере или распечатать.
    </p>
    <p>
      Желаем, чтобы твоя свадьба прошла без лишних забот!
    </p>
  </div>
  <div class="card-footer">
    <a [routerLink]="['/showcase']">Перейти к калькулятору</a>
  </div>
</div>
