<div class="card" [class.card-collapsed]="toggled">
  <div class="card-header">
    <div class="card-title">Автоматический выбор товаров:</div>
    <div class="card-options">
      <a (click)="toggled=!toggled;" class="card-options-collapse" [ngbTooltip]="toggled? 'Развернуть' : 'Свернуть'">
        <i class="fe" [ngClass]="{'fe-chevron-down': toggled, 'fe-chevron-up': !toggled}"></i>
      </a>
    </div>
  </div>

  <div *ngIf="!isLoadingCategories" class="card-body">
    <div class="form-group">
      <label>Введите необходимую сумму:</label>
      <input class="form-control" [(ngModel)]="requiredSumm" type="number">
    </div>
    <button [disabled]="requiredSumm <= 0" (click)="fillCart()" class="btn btn-outline-success">Подобрать товары</button>

    <hr>

    <label>Выберите среди каких категорий производить выбор:</label>
    <div class="form-group">
      <div *ngFor="let category of allCategories">
        <label class="form-label">
            <input type="checkbox" [(ngModel)]="category._selected">
            {{category.name}}
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="isLoadingCategories" class="card-body">
    <div class="dimmer active">
      <div class="loader"></div>
    </div>
  </div>

  <div *ngIf="isCalculating" class="calculation-preloader d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-white">Идет подбор оптимального набора товаров.</h3>
    <h4 class="text-white">Пожалуйста подождите</h4>
    <div class="loader"></div>
  </div>
