<form class="col-12 form" *ngIf="!isSubmitted" (ngSubmit)="onSubmit.next(formGroup.value)" [formGroup]="formGroup">

  <div class="form-group mt-2">
    <label class="form-label" for="nameInput">
      Имя
      <span class="form-required">*</span>
    </label>
    <input type="text" class="form-control" [formControl]="formGroup.controls['name']" [ngClass]="{'is-invalid': !isValid('name')}">
    <div [hidden]="isValid('name', 'required')" class="invalid-feedback">{{formErrors.required}}</div>
    <div [hidden]="isValid('name', 'maxlength')" class="invalid-feedback">{{formErrors.name.maxlength}}</div>
  </div>
  <!-- Имя -->

  <div class="form-group">
    <label class="form-label" for="surnameInput">
      Фамилия
      <span class="form-required">*</span>
    </label>
    <input type="text" class="form-control" [formControl]="formGroup.controls['surname']" [ngClass]="{'is-invalid': !isValid('surname')}">
    <div [hidden]="isValid('surname', 'required')" class="invalid-feedback">{{formErrors.required}}</div>
    <div [hidden]="isValid('surname', 'maxlength')" class="invalid-feedback">{{formErrors.surname.maxlength}}</div>
  </div>
  <!-- Фамилия -->

  <div class="form-group">
    <label class="form-label" for="patronymicInput">
      Отчество
      <span class="form-required">*</span>
    </label>
    <input type="text" class="form-control"  [formControl]="formGroup.controls['patronymic']" [ngClass]="{'is-invalid': !isValid('patronymic')}">
    <div [hidden]="isValid('patronymic', 'required')" class="invalid-feedback">{{formErrors.required}}</div>
    <div [hidden]="isValid('patronymic', 'maxlength')" class="invalid-feedback">{{formErrors.patronymic.maxlength}}</div>
  </div>
  <!-- Отчество -->

  <div class="form-group">
    <label class="form-label" for="emailInput">
      Email
      <span class="form-required">*</span>
    </label>
    <input type="text" class="form-control" [formControl]="formGroup.controls['email']" [ngClass]="{'is-invalid': !isValid('email')}">
    <div [hidden]="isValid('email', 'required')" class="invalid-feedback">{{formErrors.required}}</div>
    <div [hidden]="isValid('email', 'maxlength')" class="invalid-feedback">{{formErrors.email.maxlength}}</div>
    <div [hidden]="isValid('email', 'email')" class="invalid-feedback">{{formErrors.email.email}}</div>
  </div>
  <!-- Email -->

  <div class="form-group">
    <label class="form-label" for="emailInput">
      Телефон
      <span class="form-required">*</span>
    </label>
    <input type="text" class="form-control" [formControl]="formGroup.controls['phone']" [ngClass]="{'is-invalid': !isValid('phone')}">
    <div [hidden]="isValid('phone', 'required')" class="invalid-feedback">{{formErrors.required}}</div>
    <div [hidden]="isValid('phone', 'maxlength')" class="invalid-feedback">{{formErrors.phone.maxlength}}</div>
    <div [hidden]="isValid('phone', 'pattern')" class="invalid-feedback">{{formErrors.phone.pattern}}</div>
  </div>
  <!-- Phone -->

  <div class="form-group d-flex justify-content-between">
    <button class="btn btn-outline-success" [disabled]="!formGroup.valid || isSubmitted" type="submit">Сохранить</button>
    <button class="btn btn-outline-danger" (click)="onCancel.next();" type="reset">Отмена</button>
  </div>
</form>

<div *ngIf="isSubmitted" class="row">
  <div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
  </div>
</div>
<!-- Preloader -->
